* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #222021;
  background-image: url("../images/background.jpg");
  color: #f5f5f5;
  font-size: 30px;
  line-height: 120%;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

.header {
  margin: 50px 0px 75px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../images/hero-background.jpg");
  width: 100%;
  height: 1080px;
  filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
}

.logo {
  padding: 3px;
  display: block;
  width: 200px;
  height: 88px;
  border-radius: 5px;
}

.logo:focus {
  outline: 2px solid #f5f5f5;
}

.logo__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.menu__list {
  display: flex;
  align-items: center;
  margin: 0px -30px;
}

.menu__item {
  font-size: 20px;
  line-height: 120%;
  margin: 0px 30px;
}

.menu__item a {
  color: #f5f5f5;
}

.menu__item a:hover {
  text-decoration: underline;
}

.menu__item a:focus {
  text-decoration: underline;
}

.hero {
  position: relative;
  padding: 75px 0;
  margin-bottom: 240px;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: calc(100% - ((100% - 1170px) / 2));
  height: 100%;
  background-color: #1e0c06;
  border-radius: 0px 42px 42px 0px;
}

.hero__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
}

.hero__text {
  width: 670px;
}

.hero__title {
  margin-bottom: 35px;
}

.hero__paragraph {
  line-height: 130%;
  color: #FFDBBB;
  width: 350px;
  margin-bottom: 55px;
}

.hero__images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 370px;
}

.hero__image {
  border-radius: 42px;
  margin-bottom: 27px;
}

.hero__image:last-child {
  margin-bottom: 0;
}

.hero__image:nth-child(2) {
  align-self: flex-start;
}

.title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90px;
  line-height: 130%;
  text-transform: uppercase;
}

.button {
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: #F5F5F5;
  padding: 13px 52px;
  background: #728BAD;
  border-radius: 100px;
}

.button:hover {
  background: #577092;
}

.button:focus {
  outline: 3px solid #f5f5f5;
}

.wood-types {
  margin-bottom: 240px;
}

.wood-types__title {
  margin-bottom: 100px;
}

.wood-types__types {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.wood-type__image {
  width: 270px;
  height: 270px;
  object-fit: cover;
  border-radius: 42px;
  margin-bottom: 50px;
}

.wood-type__title {
  font-weight: 700;
  margin-bottom: 30px;
}

.wood-type__specification {
  position: relative;
  font-weight: 500;
  margin-bottom: 25px;
  padding-left: 45px;
}

.wood-type__specification:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
  background-image: url("../images/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.wood-type__specification_negative:before {
  background-image: url("../images/cross.svg");
}

.wood-type__specification:last-child {
  margin-bottom: 0;
}

.works {
  margin-bottom: 240px;
}

.works__title {
  margin-bottom: 100px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slider__button {
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
}

.slider__button:focus {
  outline: 3px solid #f5f5f5;
}

.slider__slide {
  width: 970px;
  height: 700px;
  border-radius: 42px;
  overflow: hidden;
}

.slider__slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__bullets {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.slider__bullet {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 4px solid #728BAD;
  background-color: transparent;
  margin-right: 18px;
}

.slider__bullet:focus {
  outline: 2px solid #f5f5f5;
}

.slider__bullet:last-child {
  margin-right: 0;
}

.slider__bullet_active {
  background-color: #d5dcee;
}

.advantages {
  margin-bottom: 240px;
}

.advantages__title {
  margin-bottom: 100px;
}

.advantages__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.advantages__image {
  width: 570px;
  height: 360px;
  border-radius: 42px;
  margin-right: 130px;
}

.advantages__list {
  margin-bottom: 60px;
}

.advantages__advantage {
  margin-bottom: 35px;
}

.advantages__advantage:last-child {
  margin-bottom: 0;
}

.about {
  position: relative;
  margin-bottom: 240px;
}

.about__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 75px 100px 75px 0px;
}

.about__text {
  width: 570px;
}

.about__title {
  margin-bottom: 50px;
}

.about__paragraph {
  margin-bottom: 36px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about__image {
  width: 205px;
  height: 205px;
  border-radius: 42px;
  object-fit: cover;
}

.about__image_big {
  width: 350px;
  height: 350px;
  margin-right: 20px;
  margin-top: -100px;
  border: 14px solid #1E0C06;
}

.about__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: calc(100% - ((100% - 1170px) / 2));
  height: 100%;
  background-color: #1e0c06;
  border-radius: 0px 42px 42px 0px;
}

.contact {
  margin-bottom: 240px;
}

.contact__wrapper {
  position: relative;
}

.contact__title {
  margin-bottom: 100px;
}

.contact__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact__paragraph {
  width: 470px;
  text-align: right;
}

.contact__image {
  position: absolute;
  z-index: -1;
  top: 75%;
  transform: rotate(-27deg);
  right: 0;
  width: 477px;
}

.form {
  width: 570px;
  display: flex;
  flex-direction: column;
}

.form__input {
  width: 100%;
  padding: 18px 45px;
  background-color: transparent;
  border: 4px solid #728BAD;
  border-radius: 42px;
  font-size: 30px;
  line-height: 140%;
  color: #f5f5f5;
  margin-bottom: 25px;
}

.form__input::placeholder {
  font-size: 30px;
  line-height: 140%;
  color: rgba(217, 217, 217, 0.51);
}

.form__input_text {
  margin-bottom: 40px;
  resize: none;
}

.footer {
  background-color: #222021;
  box-shadow: 0px -6px 52px rgba(245, 245, 245, 0.34);
  padding: 70px 0 60px;
}

.footer__wrapper {
  display: flex;
  align-items: flex-start;
}

.footer__left-side {
  width: 320px;
}

.footer__logo {
  margin-bottom: 60px;
}

.footer__privacy-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #F5F5F5;
}

.footer__privacy-link:hover {
  text-decoration: underline;
}

.footer__privacy-link:focus {
  text-decoration: underline;
}

.footer__phone {
  width: 370px;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: 30px;
}

.footer__phone svg {
  margin-right: 15px;
}

.footer__phone a {
  color: #f5f5f5;
}

.footer__phone a:hover {
  text-decoration: underline;
}

.footer__phone a:focus {
  text-decoration: underline;
}

.footer__address {
  width: 370px;
  display: flex;
  align-items: flex-start;
}

.footer__address svg {
  margin-right: 15px;
}

.footer__address a {
  color: #f5f5f5;
}

.footer__address a:hover {
  text-decoration: underline;
}

.footer__address a:focus {
  text-decoration: underline;
}
