* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #222021;
  background-image: url("../images/background.jpg");
  color: #f5f5f5;
  font-size: 30px;
  line-height: 120%;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

.header {
  margin: 50px 0px 75px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../images/hero-background.jpg");
  width: 100%;
  height: 1080px;
  filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
}

.logo {
  padding: 3px;
  display: block;
  width: 200px;
  height: 88px;
  border-radius: 5px;
}

.logo:focus {
  outline: 2px solid #f5f5f5;
}

.logo__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.menu__list {
  display: flex;
  align-items: center;
  margin: 0px -30px;
}

.menu__item {
  font-size: 20px;
  line-height: 120%;
  margin: 0px 30px;
}

.menu__item a {
  color: #f5f5f5;
}

.menu__item a:hover {
  text-decoration: underline;
}

.menu__item a:focus {
  text-decoration: underline;
}

.hero {
  position: relative;
  margin-bottom: 240px;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: calc(100% - ((100% - 1170px) / 2));
  height: 100%;
  background-color: #1e0c06;
  border-radius: 0px 42px 42px 0px;
}

.hero__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 75px 100px 75px 0px;
}

.hero__text {
  width: 670px;
}

.hero__title {
  margin-bottom: 35px;
}

.hero__paragraph {
  line-height: 130%;
  color: #FFDBBB;
  width: 350px;
  margin-bottom: 55px;
}

.hero__images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 370px;
}

.hero__image {
  border-radius: 42px;
  margin-bottom: 27px;
}

.hero__image:last-child {
  margin-bottom: 0;
}

.hero__image:nth-child(2) {
  align-self: flex-start;
}

.title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 90px;
  line-height: 130%;
  text-transform: uppercase;
}

.button {
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: #F5F5F5;
  padding: 13px 52px;
  background: #728BAD;
  border-radius: 100px;
}

.button:hover {
  background: #577092;
}

.button:focus {
  outline: 3px solid #f5f5f5;
}

.wood-types {
  margin-bottom: 240px;
}

.wood-types__title {
  margin-bottom: 100px;
}

.wood-types__types {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.wood-type__image {
  width: 270px;
  height: 270px;
  object-fit: cover;
  border-radius: 42px;
  margin-bottom: 50px;
}

.wood-type__title {
  font-weight: 700;
  margin-bottom: 30px;
}

.wood-type__specification {
  position: relative;
  font-weight: 500;
  margin-bottom: 25px;
  padding-left: 45px;
}

.wood-type__specification:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
  background-image: url("../images/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.wood-type__specification_negative:before {
  background-image: url("../images/cross.svg");
}

.wood-type__specification:last-child {
  margin-bottom: 0;
}

.works {
  margin-bottom: 240px;
}

.works__title {
  margin-bottom: 100px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slider__button {
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
}

.slider__button:focus {
  outline: 3px solid #f5f5f5;
}

.slider__slide {
  width: 970px;
  height: 700px;
  border-radius: 42px;
  overflow: hidden;
}

.slider__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__bullets {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.slider__bullet {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 4px solid #728BAD;
  background-color: transparent;
  margin-right: 18px;
}

.slider__bullet:focus {
  outline: 2px solid #f5f5f5;
}

.slider__bullet:last-child {
  margin-right: 0;
}

.slider__bullet_active {
  background-color: #d5dcee;
}

.advantages {
  margin-bottom: 240px;
}

.advantages__title {
  margin-bottom: 100px;
}

.advantages__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.advantages__image {
  width: 570px;
  border-radius: 42px;
  margin-right: 130px;
}

.advantages__list {
  margin-bottom: 60px;
}

.advantages__advantage {
  margin-bottom: 35px;
}

.advantages__advantage:last-child {
  margin-bottom: 0;
}

.about {
  position: relative;
  margin-bottom: 240px;
}

.about__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 75px 100px 75px 0px;
}

.about__text {
  width: 570px;
}

.about__title {
  margin-bottom: 50px;
}

.about__paragraph {
  margin-bottom: 36px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about__image {
  width: 205px;
  height: 205px;
  border-radius: 42px;
  object-fit: cover;
}

.about__image_big {
  width: 350px;
  height: 350px;
  margin-right: 20px;
  margin-top: -100px;
  border: 14px solid #1E0C06;
}

.about__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: calc(100% - ((100% - 1170px) / 2));
  height: 100%;
  background-color: #1e0c06;
  border-radius: 0px 42px 42px 0px;
}

.contact {
  margin-bottom: 240px;
}

.contact__wrapper {
  position: relative;
}

.contact__title {
  margin-bottom: 100px;
}

.contact__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact__paragraph {
  width: 470px;
  text-align: right;
}

.contact__image {
  position: absolute;
  z-index: -1;
  top: 75%;
  transform: rotate(-27deg);
  right: 0;
  width: 477px;
}

.form {
  width: 570px;
  display: flex;
  flex-direction: column;
}

.form__input {
  width: 100%;
  padding: 18px 45px;
  background-color: transparent;
  border: 4px solid #728BAD;
  border-radius: 42px;
  font-size: 30px;
  line-height: 140%;
  color: #f5f5f5;
  margin-bottom: 25px;
}

.form__input::placeholder {
  font-size: 30px;
  line-height: 140%;
  color: rgba(217, 217, 217, 0.51);
}

.form__input_text {
  margin-bottom: 40px;
  resize: none;
}

.footer {
  background-color: #222021;
  box-shadow: 0px -6px 52px rgba(245, 245, 245, 0.34);
  padding: 70px 0 60px;
}

.footer__wrapper {
  display: flex;
  align-items: flex-start;
}

.footer__left-side {
  width: 320px;
}

.footer__logo {
  margin-bottom: 60px;
}

.footer__privacy-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #F5F5F5;
}

.footer__privacy-link:hover {
  text-decoration: underline;
}

.footer__privacy-link:focus {
  text-decoration: underline;
}

.footer__phone {
  width: 370px;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
}

.footer__phone svg {
  margin-right: 15px;
}

.footer__phone a {
  color: #f5f5f5;
}

.footer__phone a:hover {
  text-decoration: underline;
}

.footer__phone a:focus {
  text-decoration: underline;
}

.footer__address-items {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: end;
}

.footer__address {
  width: 370px;
  display: flex;
  align-items: flex-start;
}

.footer__address svg {
  margin-right: 15px;
}

.footer__address a {
  color: #f5f5f5;
}

.footer__address a:hover {
  text-decoration: underline;
}

.footer__address a:focus {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  body {
    font-size: 27px;
  }
  .container {
    width: 900px;
  }
  .header__background {
    height: 1000px;
  }
  .menu__list {
    margin: 0px -20px;
  }
  .menu__item {
    margin: 0px 20px;
  }
  .hero__wrapper {
    padding: 75px;
    padding-left: 0;
  }
  .hero__title {
    margin-bottom: 30px;
  }
  .hero__paragraph {
    margin-bottom: 50px;
  }
  .hero__image {
    width: 150px;
    height: 150px;
    margin-bottom: 25px;
  }
  .hero__background {
    width: calc(100% - ((100% - 900px) / 2));
  }
  .title {
    font-size: 72px;
  }
  .button {
    font-size: 27px;
    line-height: 140%;
  }
  .wood-types__title {
    margin-bottom: 80px;
  }
  .wood-type__image {
    width: 220px;
    height: 220px;
  }
  .works__title {
    margin-bottom: 80px;
  }
  .slider__slide {
    width: 670px;
    height: 490px;
  }
  .advantages__title {
    margin-bottom: 80px;
  }
  .advantages__image {
    width: 460px;
    margin-right: 60px;
  }
  .about__wrapper {
    padding: 75px;
    padding-left: 0px;
  }
  .about__title {
    margin-bottom: 40px;
  }
  .about__background {
    width: calc(100% - ((100% - 900px) / 2));
  }
  .about__text {
    width: auto;
    margin-right: 60px;
  }
  .about__image {
    width: 180px;
    height: 180px;
  }
  .about__image_big {
    width: 250px;
    height: 250px;
    margin-top: -80px;
  }
  .contact__title {
    margin-bottom: 80px;
    white-space: nowrap;
  }
  .contact__form {
    margin-right: 60px;
  }
  .contact__image {
    width: 400px;
    top: 85%;
  }
  .form__input {
    padding: 15px 40px;
    font-size: 27px;
    border: 3px solid #728BAD;
  }
  .footer__left-side {
    flex-shrink: 0;
  }
  .footer__phone {
    margin: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 24px;
  }
  .container {
    width: 700px;
  }
  .header__logo {
    margin-right: 40px;
  }
  .header__background {
    height: 900px;
  }
  .logo {
    width: 160px;
    height: 70px;
    flex-shrink: 0;
  }
  .menu {
    width: 100%;
  }
  .menu__list {
    margin: 0;
    justify-content: space-between;
  }
  .menu__item {
    margin: 0;
    font-size: 18px;
  }
  .hero {
    margin-bottom: 200px;
  }
  .hero__wrapper {
    padding: 60px;
    padding-left: 0px;
  }
  .hero__text {
    width: 65%;
  }
  .hero__paragraph {
    width: 300px;
  }
  .hero__images {
    width: 35%;
  }
  .hero__image {
    width: 140px;
    height: 140px;
    border-radius: 30px;
  }
  .hero__background {
    width: calc(100% - ((100% - 700px) / 2));
  }
  .title {
    font-size: 60px;
  }
  .button {
    font-size: 24px;
  }
  .wood-types {
    margin-bottom: 200px;
  }
  .wood-type {
    width: 30%;
  }
  .wood-type__image {
    width: 180px;
    height: 180px;
    border-radius: 30px;
  }
  .wood-type__specification {
    padding-left: 40px;
  }
  .works {
    margin-bottom: 200px;
  }
  .slider__slide {
    width: 500px;
    height: 350px;
    border-radius: 30px;
  }
  .slider__bullets {
    margin-top: 50px;
  }
  .advantages {
    margin-bottom: 200px;
  }
  .advantages__image {
    width: 40%;
    border-radius: 30px;
    margin-right: 0;
  }
  .advantages__text {
    width: 55%;
  }
  .advantages__list {
    margin-bottom: 50px;
  }
  .about {
    margin-bottom: 200px;
  }
  .about__wrapper {
    padding: 60px;
    padding-left: 0;
  }
  .about__text {
    width: 60%;
    margin-right: 0;
  }
  .about__image {
    width: 160px;
    height: 160px;
    border-radius: 30px;
  }
  .about__image_big {
    width: 200px;
    height: 200px;
    border: 12px solid #1E0C06;
  }
  .about__background {
    width: calc(100% - ((100% - 700px) / 2));
  }
  .contact {
    margin-bottom: 200px;
  }
  .contact__paragraph {
    width: 35%;
  }
  .contact__image {
    width: 300px;
    top: 90%;
  }
  .form {
    width: 60%;
    margin: 0;
  }
  .form__input {
    border-radius: 30px;
    font-size: 24px;
  }
  .form__input::placeholder {
    font-size: 24px;
  }
  .footer {
    padding: 50px 0px;
  }
  .footer__phone svg {
    height: 40px;
    width: 40px;
  }
  .footer__address svg {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 500px;
  }
  .logo {
    width: 140px;
    height: 60px;
  }
  .header {
    margin: 50px 0px;
  }
  .header__logo {
    margin-right: 20px;
  }
  .header__background {
    height: 840px;
  }
  .menu__item {
    text-align: center;
    font-size: 14px;
  }
  .hero {
    margin-bottom: 160px;
  }
  .hero__wrapper {
    padding-right: 0px;
  }
  .hero__text {
    width: auto;
    margin-right: 10px;
  }
  .hero__image:nth-child(2) {
    align-self: flex-end;
  }
  .hero__background {
    width: 95%;
  }
  .title {
    font-size: 48px;
  }
  .wood-types {
    margin-bottom: 160px;
  }
  .wood-types__title {
    width: 112%;
    margin-bottom: 64px;
  }
  .wood-types__types {
    width: 100%;
    overflow: scroll;
    padding-bottom: 12px;
  }
  .wood-types__wood-type {
    margin-right: 30px;
    flex-shrink: 0;
  }
  .wood-types__wood-type:last-child {
    margin-right: 0;
  }
  .wood-type {
    width: 40%;
  }
  .works {
    margin-bottom: 160px;
  }
  .works__title {
    margin-bottom: 64px;
  }
  .slider__slides {
    margin-bottom: 50px;
  }
  .slider__slide {
    width: 100%;
    height: 70%;
  }
  .slider__button_prev {
    order: 1;
  }
  .slider__button_next {
    order: 3;
  }
  .slider__bullets {
    flex-basis: auto;
    order: 2;
    margin: 0;
  }
  .advantages {
    margin-bottom: 160px;
  }
  .advantages__title {
    margin-bottom: 64px;
  }
  .advantages__content {
    flex-direction: column;
  }
  .advantages__image {
    margin-bottom: 50px;
    width: 100%;
  }
  .advantages__text {
    width: 100%;
  }
  .about {
    margin-bottom: 160px;
  }
  .about__wrapper {
    padding-right: 0;
    align-items: center;
  }
  .about__text {
    width: auto;
    margin-right: 10px;
  }
  .about__image {
    width: 120px;
    height: 120px;
  }
  .about__image_big {
    width: 132px;
    height: 132px;
    margin-top: -50px;
    border: 8px solid #1E0C06;
  }
  .about__background {
    width: 95%;
  }
  .contact {
    margin-bottom: 160px;
  }
  .contact__title {
    white-space: normal;
    margin-bottom: 64px;
  }
  .contact__content {
    flex-direction: column-reverse;
  }
  .contact__paragraph {
    width: 100%;
    text-align: left;
    margin-bottom: 40px;
  }
  .contact__image {
    top: 100%;
  }
  .form {
    width: 100%;
  }
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .footer__logo {
    margin-bottom: 30px;
  }
  .footer__left-side {
    margin-bottom: 50px;
  }
  .footer__address-items {
    justify-content: flex-start;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
  .header__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__logo {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .header__background {
    height: 830px;
  }
  .menu {
    width: 100%;
  }
  .hero__title {
    margin-bottom: 20px;
  }
  .hero__paragraph {
    margin-bottom: 40px;
  }
  .hero__image {
    width: 120px;
    height: 120px;
    border-radius: 24px;
  }
  .hero__background {
    width: 100%;
    border-radius: 0;
  }
  .title {
    font-size: 36px;
  }
  .wood-types__title {
    width: 100%;
  }
  .wood-type__image {
    border-radius: 24px;
  }
  .slider__slide {
    border-radius: 24px;
  }
  .advantages__image {
    border-radius: 24px;
  }
  .about__wrapper {
    flex-direction: column;
  }
  .about__text {
    margin-bottom: 40px;
  }
  .about__images {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .about__image {
    border-radius: 24px;
  }
  .about__image:last-child {
    margin-bottom: 0;
  }
  .about__image_big {
    margin-top: 0;
    margin-right: 0;
    border: none;
    width: 120px;
    height: 120px;
  }
  .about__background {
    width: 100%;
    border-radius: 0;
  }
  .contact__image {
    right: 7%;
  }
}

@media (max-width: 480px) {
  .header__background {
    height: 865px;
  }
  .menu__item {
    font-size: 13px;
  }
  .hero {
    margin-bottom: 120px;
  }
  .hero__wrapper {
    flex-direction: column-reverse;
  }
  .hero__images {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .hero__image {
    width: 30%;
    height: 30%;
    margin: 0;
  }
  .wood-types {
    margin-bottom: 120px;
  }
  .wood-types__title {
    margin-bottom: 60px;
  }
  .wood-type {
    width: 240px;
  }
  .works {
    margin-bottom: 120px;
  }
  .works__title {
    margin-bottom: 60px;
  }
  .advantages {
    margin-bottom: 120px;
  }
  .advantages__title {
    margin-bottom: 60px;
  }
  .about {
    margin-bottom: 120px;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about__image {
    width: 30%;
    height: 30%;
  }
  .contact {
    margin-bottom: 120px;
  }
  .contact__title {
    margin-bottom: 60px;
  }
  .contact__image {
    width: 200px;
    right: 9%;
  }
  .footer__left-side {
    width: 100%;
  }
  .footer__phone {
    width: 100%;
  }
  .footer__address {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .menu__list {
    flex-wrap: wrap;
  }
  .menu__item {
    width: 50%;
    margin-bottom: 5px;
  }
  .hero__text {
    margin-right: 0;
    width: 100%;
  }
  .hero__paragraph {
    width: 100%;
  }
  .button {
    font-size: 21px;
    padding: 10px 40px;
  }
  .slider__button svg {
    width: 35px;
  }
  .slider__bullet {
    width: 24px;
    height: 24px;
  }
  .advantages__title {
    word-wrap: break-word;
  }
  .about__text {
    margin-right: 0;
  }
}
