@import 'reset.scss';

body {
    background-color: #222021;
    background-image: url('/images/background.jpg');
    color: #f5f5f5;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1170px;
    margin: auto;
}

.header {
    margin: 50px 0px 75px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: url('/images/hero-background.jpg');
        width: 100%;
        height: 1080px;
    }
}

.logo {

    &__image {
        width: 197px;
    }
}

.menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    &__list {
        display: flex;
        align-items: center;
        margin: 0px -30px;
    }

    &__item {
        margin: 0px 30px;

        a {
            color: #f5f5f5;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.hero {
    position: relative;
    padding: 75px 0;
    margin-bottom: 240px;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: calc(100% - ((100% - 1170px) / 2));
        height: 100%;
        background-color: #1e0c06;
        border-radius: 0px 43px 43px 0px;
    }

    &__wrapper {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 100px;
    }

    &__text {
        width: 670px;
    }

    &__title {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 90px;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    &__paragraph {
        font-size: 30px;
        line-height: 130%;
        color: #FFDBBB;
        width: 350px;
        margin-bottom: 55px;
    }

    &__button {
        font-weight: 600;
        font-size: 30px;
        line-height: 120%;
        color: #F5F5F5;
        padding: 16px 64px;
        background: #728BAD;
        border-radius: 100px;

        &:hover {
            background: #577092;
        }
    }

    &__images {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        width: 370px;
    }

    &__image {
        border-radius: 42px;
        margin-bottom: 27px;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(2) {
            align-self: flex-start;
        }
    }
}

.wood-types {
    margin-bottom: 240px;

    &__title {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 90px;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 100px;
    }

    &__types {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.wood-type {

    &__image {
        width: 270px;
        height: 270px;
        object-fit: cover;
        border-radius: 42px;
        margin-bottom: 50px;
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 30px;
    }

    &__specification {
        position: relative;
        font-weight: 500;
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 25px;
        padding-left: 45px;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 25px;
            height: 25px;
            transform: translateY(-50%);
            background-image: url('/images/checkmark.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }

        &_negative {
            
            &:before {
                background-image: url('/images/cross.svg');
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}