@import 'reset.scss';

body {
    background-color: #222021;
    background-image: url('../images/background.jpg');
    color: #f5f5f5;
    font-size: 30px;
    line-height: 120%;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1170px;
    margin: auto;
}

.header {
    margin: 50px 0px 75px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: url('../images/hero-background.jpg');
        width: 100%;
        height: 1080px;
        filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
    }
}

.logo {
    padding: 3px;
    display: block;
    width: 200px;
    height: 88px;
    border-radius: 5px;

    &:focus {
        outline: 2px solid #f5f5f5;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    &__list {
        display: flex;
        align-items: center;
        margin: 0px -30px;
    }

    &__item {
        font-size: 20px;
        line-height: 120%;
        margin: 0px 30px;

        a {
            color: #f5f5f5;

            &:hover {
                text-decoration: underline;
            }

            &:focus {
                text-decoration: underline;
            }
        }
    }
}

.hero {
    position: relative;
    padding: 75px 0;
    margin-bottom: 240px;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: calc(100% - ((100% - 1170px) / 2));
        height: 100%;
        background-color: #1e0c06;
        border-radius: 0px 42px 42px 0px;
    }

    &__wrapper {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 100px;
    }

    &__text {
        width: 670px;
    }

    &__title {
        margin-bottom: 35px;
    }

    &__paragraph {
        line-height: 130%;
        color: #FFDBBB;
        width: 350px;
        margin-bottom: 55px;
    }

    &__images {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        width: 370px;
    }

    &__image {
        border-radius: 42px;
        margin-bottom: 27px;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(2) {
            align-self: flex-start;
        }
    }
}

.title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 90px;
    line-height: 130%;
    text-transform: uppercase;
}

.button {
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: #F5F5F5;
    padding: 13px 52px;
    background: #728BAD;
    border-radius: 100px;

    &:hover {
        background: #577092;
    }

    &:focus {
        outline: 3px solid #f5f5f5;
    }
}

.wood-types {
    margin-bottom: 240px;

    &__title {
        margin-bottom: 100px;
    }

    &__types {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.wood-type {

    &__image {
        width: 270px;
        height: 270px;
        object-fit: cover;
        border-radius: 42px;
        margin-bottom: 50px;
    }

    &__title {
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__specification {
        position: relative;
        font-weight: 500;
        margin-bottom: 25px;
        padding-left: 45px;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 25px;
            height: 25px;
            transform: translateY(-50%);
            background-image: url('../images/checkmark.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }

        &_negative {
            
            &:before {
                background-image: url('../images/cross.svg');
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.works {
    margin-bottom: 240px;

    &__title {
        margin-bottom: 100px;
    }
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__button {
        background-color: transparent;
        border-radius: 50%;
        padding: 10px;

        &:focus {
            outline: 3px solid #f5f5f5;
        }
    }

    &__slide {
        width: 970px;
        height: 700px;
        border-radius: 42px;
        overflow: hidden;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__bullets {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    }

    &__bullet {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 4px solid #728BAD;
        background-color: transparent;
        margin-right: 18px;


        &:focus {
            outline: 2px solid #f5f5f5;
        }

        &:last-child {
            margin-right: 0;
        }

        &_active {
            background-color: #d5dcee;
        }
    }
}

.advantages {
    margin-bottom: 240px;

    &__title {
        margin-bottom: 100px;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__image {
        width: 570px;
        height: 360px;
        border-radius: 42px;
        margin-right: 130px;
    }

    &__list {
        margin-bottom: 60px;
    }

    &__advantage {
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.about {
    position: relative;
    margin-bottom: 240px;

    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 75px 100px 75px 0px;
    }

    &__text {
        width: 570px;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__paragraph {
        margin-bottom: 36px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__images {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__image {
        width: 205px;
        height: 205px;
        border-radius: 42px;
        object-fit: cover;

        &_big {
            width: 350px;
            height: 350px;
            margin-right: 20px;
            margin-top: -100px;
            border: 14px solid #1E0C06;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: calc(100% - ((100% - 1170px) / 2));
        height: 100%;
        background-color: #1e0c06;
        border-radius: 0px 42px 42px 0px;
    }
}

.contact {
    margin-bottom: 240px;

    &__wrapper {
        position: relative;
    }

    &__title {
        margin-bottom: 100px;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__paragraph {
        width: 470px;
        text-align: right;
    }

    &__image {
        position: absolute;
        z-index: -1;
        top: 75%;
        transform: rotate(-27deg);
        right: 0;
        width: 477px;
    }
}

.form {
    width: 570px;
    display: flex;
    flex-direction: column;

    &__input {
        width: 100%;
        padding: 18px 45px;
        background-color: transparent;
        border: 4px solid #728BAD;
        border-radius: 42px;
        font-size: 30px;
        line-height: 140%;
        color: #f5f5f5;
        margin-bottom: 25px;

        &::placeholder {
            font-size: 30px;
            line-height: 140%;
            color: rgba(217, 217, 217, 0.51);
        }

        &_text {
            margin-bottom: 40px;
            resize: none;
        }
    }
}

.footer {
    background-color: #222021;
    box-shadow: 0px -6px 52px rgba(245, 245, 245, 0.34);
    padding: 70px 0 60px;

    &__wrapper {
        display: flex;
        align-items: flex-start;
    }

    &__left-side {
        width: 320px;
    }

    &__logo {
        margin-bottom: 60px;
    }

    &__privacy-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        color: #F5F5F5;

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            text-decoration: underline;
        }
    }

    &__phone {
        width: 370px;
        display: flex;
        align-items: flex-start;
        margin-left: auto;
        margin-right: 30px;

        svg {
            margin-right: 15px;
        }

        a {
            color: #f5f5f5;

            &:hover {
                text-decoration: underline;
            }

            &:focus {
                text-decoration: underline;
            }
        }
    }

    &__address {
        width: 370px;
        display: flex;
        align-items: flex-start;

        svg {
            margin-right: 15px;
        }
    
        a {
            color: #f5f5f5;
    
            &:hover {
                text-decoration: underline;
            }
    
            &:focus {
                text-decoration: underline;
            }
        }
    }
}